<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#206a5d" />

    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="images/logo/logo-kotak-makan-192x192.png" />

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>

    <title>Kotak Makan</title>
  </head>
  <body id="body">
    <a href="#maincontent" class="skip-link">Skip to content</a>
    <!-- header -->
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title" tabindex="0">Kotak Makan</h1>
        <button id="menu" class="header__menu" tabindex="0">☰</button>
      </div>
    </header>
    <!-- header -->

    <!-- navbar -->
    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#/like">Favorite</a></li>
        <li class="nav__item"><a href="https://www.linkedin.com/in/nashiraoksani/">About</a></li>
      </ul>
    </nav>
    <!-- akhir navbar -->

    <!-- jumbotron -->
    <div class="hero">
      <div class="hero__inner">
        <h2 class="hero__title" tabindex="0">Looking for restaurant?</h2>
        <p class="hero__tagline" tabindex="0">Kotak Makan provides the restaurant catalog you need to find the best eatery in Indonesia.</p>
      </div>
    </div>
    <!-- akhir jumbotron -->

    <!-- main -->
    <main id="maincontent">
      <section class="content">
        <div class="katalog">
          <h2 class="judul_katalog" tabindex="0">Restaurant Catalog</h2>
          <div class="restaurantList"></div>
        </div>
      </section>
      <section class="review">
        <div class="reviewList">
          <h2 class="review__title" tabindex="0">Customer Testimony</h2>
          <div class="review-item">
            <img class="profil_user" src="https://i.ibb.co/dcqtTqN/user.png" alt="profil pengguna" tabindex="0" />
            <h3 class="nama_user" tabindex="0">Si Budi</h3>
            <p class="testi_user" tabindex="0">
              Menurut saya Run The Gun adalah restoran yang sangat recommended untuk dikunjungi. Lokasinya sangat strategis dan interior bangunannya instagramable, cocok untuk foto-foto bersama teman. Selain itu makanannya juga enak dengan
              harga cukup terjangkau.
            </p>
          </div>
        </div>
      </section>
    </main>
    <!-- akhir main -->

    <!-- footer -->
    <footer>
      <p tabindex="0">Copyright&#169; 2022 - Created by Nashira Oksani Ardine Santosa</p>
    </footer>
  </body>
</html>
